<div class="container">
    <div class="row" >
      <div class="col-sm-6 bg-success">
        <h3><b>HTML Begginer Course</b></h3>
      <img src="/assets/images/html.png" width="30%" height="30%">
      <div><b>About:</b>This Course includes all the basics of HTML and will help you develop simple webpages, </div>
      <div><b>PKR</b> 50k</div>
      <div><b>Start Date:</b> 20- 02-2023</div>
      <div><b>End Date :</b> 3-04-2022</div>
      <div><b>Duration :</b> 1 month </div>
      <div><b>Credit Hours :</b>  2</div>
      <a  class="btn btn-primary" onclick="RegisterCourse()">Click To Confirm Registration </a>
  
      </div>

      </div>
</div>