<mat-nav-list>
    <div class="logo py-4">
        <img src="../../assets/logo.png">

    </div>
   
    
  
        
        <h2 matSubheader class="mt-2">Applications</h2>
        <a mat-list-item routerLink="/courses" routerLinkActive="list-item-active">
            <mat-icon>home</mat-icon>Courses
        </a>
        <a mat-list-item routerLink="/learners" routerLinkActive="list-item-active">
            <mat-icon>home</mat-icon>Learners
        </a>
        <a mat-list-item routerLink="/materials" routerLinkActive="list-item-active">
            <mat-icon>home</mat-icon>Materials
        </a>
        <a mat-list-item routerLink="/assessments" routerLinkActive="list-item-active">
            <mat-icon>home</mat-icon>Assessments
        </a>
   
</mat-nav-list>
