.logo{
    text-align: center;
    padding:2.6rem 1rem;
}
.mat-divider{
    border-top-width: 2px;
    border-color: white;
}
.mat-list-item{
    font-size:0.8rem;
    height:100px !important;

}
.menu{
    display: flex;
    align-items: center;
}
