.main-nav{
    background: rgb(226, 238, 225);      
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 10px;

}
.main-nav ul{
    padding:0px;
    list-style: none;
}
.main-nav li{
    display: inline-block;
    padding: 5px 25px;
}
.main-nav li:hover{
    background: #b8d8be
}
.main-nav a{
    text-decoration: none;
    color: white;

}
#button1,#button2,#button3{
    border: none;
    list-style: none;
    background: none;
    
}
.logo{
    font-size: 20px;
    padding: 10px;
}