
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="main-nav">
        <label class="logo">Courses Settings</label>
        <ul>
            <li><button class="button" type="button" id="button1" (click)="settingsClicked()">Settings</button></li>
            <li><button class="button" type="button" id="button2" (click)="materialsClicked()">Materials</button></li>
            <li><button class="button" type="button"  id="button3" (click)="usersClicked()">Users</button></li>

        </ul>
    </nav>
    <div class="calling-settings-tab" *ngIf="isSettingsClicked">
        <app-settings-tab [d]="data1"></app-settings-tab>
    </div>
    <div class="calling-users-tab" *ngIf="isUsersClicked">
        <app-users-tab [d]="data1"></app-users-tab>
    </div>
    <div class="calling-assessment-tab" *ngIf="ismaterialsClicked">
        <app-assessment-tab [d]="data1"></app-assessment-tab>
    </div>
    <!--displaying the input as d.courseName-->
    

    

</body>
</html>